annotated-doc==0.0.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
click==8.3.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.121.1
httpx==0.28.1
imagekitio==4.2.0
passlib==1.7.4
psycopg-binary==3.2.12
psycopg-pool==3.2.7
pydantic==2.12.4
pydantic-settings==2.11.0
pytest==9.0.0
pytest-env==1.2.0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
requests==2.32.5
requests-toolbelt==1.0.0
SQLAlchemy==2.0.44
sqlmodel==0.0.27
uvicorn==0.38.0
